ul{
    display: inline-block;
    margin: auto 90px auto auto;
/*     list-style-type: square; */
}

ol{
    display: inline-block;
    list-style-type: lower-roman;
    list-style-position: ;
}

ul, ol{
      list-style-image: url('img1.png');
}

nav{
    display: grid;
    height: 200px;
    align-content: end
}
a{
    display: block;
	font-weight: bold;
	color: #ffffff;
	background: #323493;
	width: 200px;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	margin: 0 auto;
	margin-top: 10px;
}

a:hover{
    background: #cacaca;
	color: #0006cc;
	border: 1px solid #0006cc;
}

a:focus{
    background: #b3b3b3;
	color: #0006cc;
}

a:active{
    border: 2px solid #cacaca;
}

